@import url("https://fonts.googleapis.com/css2?family=Anton&family=Cormorant+Garamond:ital,wght@0,400;0,600;1,400&family=JetBrains+Mono:wght@400;700&family=Yellowtail&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Anton", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --font-serif: "Cormorant Garamond", serif;
  --font-script: "Yellowtail", cursive;
  --color-presente-brown: #36220f;
  --color-presente-yellow: #facc15;
}
